header {
    background-color: #f8f9fa;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #007bff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: block; /* Cambia a block cuando se muestre */
    position: absolute; /* Posiciona el menú debajo */
    background-color: #f9f9f9; /* Color de fondo del menú */
    min-width: 160px; /* Ancho mínimo */
    box-shadow: 0 2px 8px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
}

.dropdownContent a {
    color: black; /* Color del texto de los enlaces */
    padding: 12px 16px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Cada enlace ocupa una línea completa */
}

.dropdownContent a:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el cursor */
}

nav a {
    display: flex;
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: #333;
}

nav a:hover { 
    color: #007bff;
}