<header>
    <link rel="stylesheet" href="/assets/css/header.css">
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/index.html" class="navbar-logo">
                <img src="/assets/images/Institución-Educativa-Rural-Vanguardia-2.png" alt="Logo del Colegio" width="250" height="50">
            </a>
            <button class="navbar-toggle" aria-label="Abrir menú">
                <span class="navbar-toggle-icon"></span>
            </button>
            <ul class="navbar-menu">
                <li><a href="/index.html" aria-current="page">Inicio</a></li>
                <li class="dropdown">
                    <a>Nuestra Institución</a>
                    <ul class="dropdown-content">
                        <li><a href="/pages/mision-vision.html">Misión y Visión</a></li>
                        <li><a href="/pages/simbolos.html">Símbolos</a></li>
                        <li><a href="/pages/principios-institucionales.html">Principios institucionales</a></li>
                        <li><a href="/pages/manual.html">Manual</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>Gestión académica</a>
                    <ul class="dropdown-content">
                        <li><a href="/pages/plan-de-estudio.html">Plan de estudio</a></li>
                        <li><a href="/pages/plataforma-academica.html">Plataforma académica</a></li>
                        <li><a href="/pages/sedes.html">Sedes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/pages/gestion-administrativa.html">Gestión administrativa</a>
                </li>
                <li><a href="/pages/Login.html" id="login-link">Ingresar</a></li>
            </ul>
        </div>
    </nav>
</header>